body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
}

 
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: rgb(212, 197, 197);
}

 

header * {
    display: inline;
    height: 50px;
}

 
header li {
    margin-left: 20px;
}

 
section {
    height: 100vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    

    background-size: cover; 
    
    background-position: center center;

    background-repeat: no-repeat; 
    
    background-attachment: fixed; 

    }

    
    

footer {
    text-align: center;
    padding: 50px;
}

 
 
header a {

    text-decoration: none;

    color: black;

}